@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f0ea;
  color: #0f0f0f;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::selection {
  background: #0f0f0f;
  color: #f1f0ea;
}
